app:
  extends:
    file: common.yml
    service: django-app
  expose:
    - "8000"
  links:
    - db
    - rabbit
app-static:
  extends:
    file: common.yml
    service: django-app
  volumes:
    - /static
  command: python manage.py collectstatic --no-input
web:
  build: ./nginx/
  ports:
    - "8001:80"
  volumes_from:
    - app-static:ro
  links:
    - app:app
db:
  image: postgres
  ports:
    - "5432:5432"
rabbit:
  image: rabbitmq
worker:
  extends:
    file: common.yml
    service: django-app
  links:
    - db
    - rabbit
  command: celery -A leth worker -l info
